
body {
    background: #edf0f5;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
}

main {
    padding-bottom: 112px;
    padding-top: 72px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 950px;
    width: auto;
    margin: 0 auto;
}

.header {
    padding-right: 32px;
    width: 400px;

}

@media (min-width: 1070px) {
   .header {
        width: 580px;
    }
}
.logo-facebook {
    width: 301px;
    height: 106px;
}

.logo-facebook img {
    transform: translate(-34px, 14px);
}

.informacao h2 {
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 38px;
    letter-spacing: normal;
    width: 500px;
    color: #1c1e21;
    font-size: 28px;
    margin: 0;
}

.cabecalho {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    width: 396px;
    height: 315px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    margin: 40px 0 0;
    padding: 10px 0 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
    background: #fff;
    color: #1d2129;
    line-height: 16px;
    padding: 0 16px;
    vertical-align: middle;
    padding-bottom: 4px;
}

.login input {
    border: 1px solid #dddfe2;
    border-radius: 6px;
    padding: 14px 16px;
    width: 330px;
    height: 22px;
    font-size: 17px;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
}

.senha {
    background: #fff;
    color: #1d2129;
    line-height: 16px;
    padding: 0 16px;
    vertical-align: middle;
    padding-bottom: 4px
    
}

.senha input {
    border: 1px solid #dddfe2;
    border-radius: 6px;
    padding: 14px 16px;
    width: 330px;
    height: 22px;
    font-size: 17px;
}

.botao-login {
    padding-top: 6px;
    justify-content: center;
    align-items: center;
    display: flex;

}

.botao-login a {
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    font-weight: 600;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.botao-login a:hover {
    
    transition: 2s;
    background: #7d09f2;
    
}

.recuperar-senha {
    font-family: inherit;
    text-align: center;
    padding-top: 12px;
}

.recuperar-senha a {
    color: #1877f2;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    font-family: Helvetica, Arial, sans-serif;
}

.barra-horizontal {
    width: 90%;
    border-bottom: 1px solid #dadde1;
    margin: 20px 16px;
}

.criar-conta {
    background-color: #42b72a;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    text-align: center;
    width: 116px;
    height: 48px;
    min-width: fit-content;
    padding: 0 10px
}

.criar-conta a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    font-family: Helvetica, Arial, sans-serif;
}

.criar-pagina {
    color: #1c1e21;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding-top: 0;
}

.paragrafo p {
    color: #1c1e21;
   font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
   font-size: 14px;
   font-weight: normal;
   padding-top: 0;
}

.paragrafo a {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}
